# MessageHub Backend Environment Configuration Template

PORT=3000
NODE_ENV="production"

# MongoDB Database Connection String
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/messagehub"

# Cryptographically Secure 256-Bit JWT & Session Keys
JWT_SECRET_KEY="7fd988152e4195132944424072529366fe9808f4f1069092df6ec2892c676b23"
ACCESS_TOKEN_SECRET="b6cc6b466e70797bcbccdfa1789ce596264512c320bb09dabe6573fe87f2932d"
REFRESH_TOKEN_SECRET="acad4840cad35147156dd8edb3f251ee36b44957e8feb9a95e99d9c0fdba61af"

# Allowed Frontend Client URL (For CORS Whitelist)
CLIENT_URL="https://chat-app-by-er-swappy.vercel.app"

# Cloudinary Storage Configuration
CLOUDINARY_FOLDER_NAME="chat-app"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Cryptographically Secure 256-Bit Encryption Key
ENCRYPTION_KEY="e420b6990215c371d0c267e077377ca31b2684e2bf8a0bfab83ad7a362607b3c"

# Optional Redis Instance URL (For Socket.IO Pub/Sub Multi-Node Cluster Scaling)
REDIS_URL="redis://default:<password>@<redis-host>:6379"
